Repository CodeSystem2022/BugArmy-Tercer-Semestre, pull requests merged in 2023-06, with the labels that each got.

#171 clase 9 parte 1
  Ejercicios PYTHON/Clase 9/persona_dao.py
Labels: Python

#172 Ejercicio 9.2 Python
  Ejercicios PYTHON/Clase 9/persona_dao.py
Labels: Python

#174 parte 9.3 trabajo clase 9 py
  Ejercicios PYTHON/Clase 9/persona_dao.py
Labels: Python

#179 Clase 9.6 Python
  Ejercicios PYTHON/Clase 9/persona_dao.py
Labels: Python

#181 Clase 8 Java
  Ejercicios JAVA/Clase 8/module-info.java
  Ejercicios JAVA/Clase 8/pkg/Aritm.java
  Ejercicios JAVA/Clase 8/pkg/ETestC.java
  Ejercicios JAVA/Clase 8/pkg/jbeans/People.java
  Ejercicios JAVA/Clase 8/pkg/jbeans/TestJavaBeans.java
  Ejercicios JAVA/Clase 8/pkg/testExceptions.java
Labels: Java

#184 Java Clase 9
  Ejercicios JAVA/Clase 9/CalculadoraUTN.java
Labels: Java

#196 Clase 9 Js
  Ejercicios JAVASCRIPT/Clase 9/Cliente.js
  Ejercicios JAVASCRIPT/Clase 9/Empeado.js
  Ejercicios JAVASCRIPT/Clase 9/Persona.js
  Ejercicios JAVASCRIPT/Clase 9/PruebaPersonas.js
Labels: JavaScript

#211 Clase 10 Js proyecto ventas
  Ejercicios JAVASCRIPT/Clase 10/Clase 10 Proyecto Ventas.js
Labels: JavaScript
